* {
  background-color: black;
}

header {
  background-color: blue;
}

.header-name {
  text-align: center;
  color: lightgreen;
  border-color: white;
  border-width: thick;
}

.page-link {
  color: pink;
}
